@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@400;800&family=Montserrat:wght@300;400;600;800&family=Poppins:wght@300;400;600;800&family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Big Shoulders Text', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

