* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    max-width: 95vw;
    margin: 0 auto;
}

.productSubBox {
    margin: 0;
}

.productImg {
    width: 200px;
}

.productCartImg {
    width: 150px;
}

.productPlaceOrderImg {
    width: 75px;
}

a {
    text-decoration: none;
}

.cart {
    width: 1.5rem;
}

.profileButton {
    border-radius: 0.5rem !important;  
}